#game-container {
    position: relative;
    text-align: center; /* Center-align its children (game and score) */
    margin-top: 5%;
}

#game {
    position: relative;
    height: 600px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto; /* Center the game container horizontally */
}

#player {
    position: absolute;
    bottom: 0;
    width: 18px;
    height: 18px;
    background-color: blue;
}

.enemy {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}

#score {
    text-align: center;
    margin-top: 10px; /* Add some space between the game and the score */
}

#score-value {
    font-weight: bold; /* Optional: Make the score value bold */
}
#level-text {
    font-size: large;
}
#level-value {
    font-weight: bold;
}
