body{
    background: url('Game.png') no-repeat center center fixed;
}

#game-container {
    position: relative;
    text-align: center; /* Center-align its children (game and score) */
    margin-top: 10%;
    margin: 4px 2px;
    margin-left: auto;
    margin-right: auto;
    display:inline-flexbox;
}

#game {
    position: relative;
    height: 750px;
    width: 1000px;
    margin: 0 auto; /* Center the game container horizontally */
}

#player {
    position: absolute;
    bottom: 0;
    width:100px;
    height:150px;
}

#score_cnt{
    margin-left:10px;
    color:white;

}

#level-text{
    color:white;
}

.enemy {
    position: absolute;
    height:auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('GAMEOVER.png'); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    border-radius:15px;
    text-align:center;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.modal-text {
    font-family:'Courier New', Courier, monospace;
    color:white;
    size: 20px;
}

.button {
    background-color: red;
    border-radius:10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#score {
    text-align: center;
    margin-top: 10px; /* Add some space between the game and the score */
}

#score-value {
    font-weight: bold; /* Optional: Make the score value bold */
}
#level-text {
    font-size: large;
}
#level-value {
    font-weight: bold;
}
