#game{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: black;
    border: 1px solid black;
}

#player{
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: lightgray;
}

#score_cnt{
    margin-left:10px;
    color:white;

}

.enemy {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
}

.star {
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: white;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    border-radius:15px;
    text-align:center;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.modal-text {
    font-family:'Courier New', Courier, monospace;
    size: 20px;
}

.button {
    background-color: red;
    border-radius:10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

